<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error 404</title>
    <link rel="icon" href="../images/title-logo.png" type="image/x-icon">
    <!--bootstrap-->
    <!-- <link rel="stylesheet" href="../styles/bootstrap.min.css"> -->
    <!--swiper-->
    <!-- <link rel="stylesheet" href="../styles/swiper-bundle.min.css"> -->
    <!--google fonts-->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Tajawal:wght@400;500;700;800;900&display=swap" rel="stylesheet"> -->
    <!--fontawsome-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> -->
    <!--main style sheet-->
    <link rel="stylesheet" href="../styles/main.css">
    <!--templates style sheet-->
    <link rel="stylesheet" href="../styles/templates.css">
</head>
<body>
    
    <main id="error404-main">
        <img src="../images/error404.png" alt="error404 image">
        <a href="../index.html">Go To Main Page</a>
    </main>



    

    <!--scripts-->
    <!--jquery-->
    <script src="../scripts/jquery-3.4.1.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!--bootstrap-->
    <!-- <script src="../scripts/bootstrap.min.js"></script> -->
    <!--swiper-->
    <script src="../scripts/swiper-bundle.min.js"></script>
    <!--main script file-->
    <script src="../scripts/script.js"></script>
</body>
</html>